.dropdown-menu{
   right: 0 !important;
   float: right !important;
   left: unset;
}

.HomeIcon{
    font-size: 30px !important;
}

.navbar-config{
    height: 60px;
    position: fixed;
    width: 100%;
}